body {
  background: #fff;
}

.flashes {
  left: 0pt;
  margin: 0pt;
  width: 20vw;
  min-width: 8em;
}

#controls {
  position: absolute;
  box-sizing: border-box;
  top: 0pt;
  left: 0pt;
  height: calc(12vh + 8pt);
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  line-height: 3vh;
  width: 100%;
  text-align: center;
  overflow: scroll;
  border-bottom: 8pt solid #9ed;
}

div {
  padding: 1pt;
}

#submission {
  position: absolute;
  box-sizing: border-box;
  top: calc(12vh + 8pt);
  left: 0pt;
  width: 60vw;
  height: 88vh;
  padding: 1vw;
  border-right: 8pt solid #9ed;
  overflow: scroll;
}

#evaluation {
  position: absolute;
  box-sizing: border-box;
  top: calc(12vh + 0.6em);
  right: 0pt;
  width: 40vw;
  height: 88vh;
  padding: 1vw;
  overflow: scroll;
  background-color: rgba(0, 30, 45, 0.05);
  /*background: #cee;*/
}

.progress {
  border-left: 0.6em solid #4b9;
  border-right: 0.6em solid #4b9;
  border-radius: 0.6em;
  text-align: center;
  padding: 4pt;
  background-color: rgba(0, 30, 45, 0.05);
}

.progress-fresh {
  border-color: #888;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress-active {
  border-color: #94b;
  background-color: rgba(80, 20, 60, 0.1);
}

.progress-finished {
  border-color: #4b9;
  background-color: rgba(20, 80, 60, 0.1);
}

.data-status {
  margin: 0pt 6pt 0pt 6pt;
  color: #666;
}

.data-dirty {
  font-weight: bold;
}

.data-clean:before, .data-clean:after {
  content: "-";
}

.data-dirty:before, .data-dirty:after {
  content: "~";
}

.section {
  margin: 0pt 0pt 0pt 0pt;
  /* fixed-size so that we know where to cut off on collapse */
  line-height: 3.4ex;
  padding: 3pt 0pt 3pt 3pt;
  margin-top: 0.4em;
  border-left: 0.6em solid #49b;
  border-radius: 0.6em;
  /*border: 1pt solid black;*/
  background-color: rgba(0, 30, 45, 0.05);
}

.feedback > .section {
  border-right: 0.6em solid #49b;
}

.children .section {
  /*border-left: 0.7em solid #49b;*/
  margin-left: 0.4em;
  /*
  border-right: none;
  border-bottom: none;
  */
}

.children .section:nth-child(even) {
  /*border-left: 0.7em solid #49b;*/
  border-color: #279;
  /*
  border-right: none;
  border-bottom: none;
  */
}


.dialog {
  position: absolute;
  top: 15vh;
  left: 0pt;
  right: 0pt;
  margin: auto;
  width: 70vw;
  max-width: 40em;
  top: 15vh;
  /* TODO: Alternate sizing on small screens/windows? */
  padding: 1vmin;
  border: 2pt solid black;
  background-color: #ffffcc;
  box-sizing: border-box;
  overflow: scroll;
  z-index: 10;
  text-align: justify;
}

.dialog textarea {
  box-sizing: border-box;
  width: calc(100% - 8pt);
  position: relative;
  padding: 2pt;
  margin: 4pt;
}


.creator, .editor {
  border: 1pt solid black;
  margin: 2pt;
  padding: 4pt;
}

.creator {
  background-color: #ffffcc;
}

.editor {
  background-color: #ffddcc;
}

.square-button {
  padding: 2pt;
  text-align: center;
  width: 16pt;
  display: inline-block;
  margin-right: 2pt;
  margin-left: 3pt;
  box-sizing: border-box;
}

.edit-button {
  background-color: white;
}

.narrow-toggle {
  padding: 2pt;
  text-align: center;
}

.dialog-button {
  padding: 2pt;
  margin-left: 3pt;
  margin-bottom: 2pt;
  margin-top: 2pt;
  box-sizing: border-box;
}

.collapsed {
  /* Matches section line-height above */
  height: 3.4ex;
  overflow: hidden;
}

.sec-title {
  font-weight: bold;
  font-size: 2.8ex;
  height: 3.4ex;
  display: inline-block;
  margin-bottom: 3pt;
}

.points {
  display: block;
  box-sizing: border-box;
  float: right;
  font-weight: bold;
  height: 3.4ex;
  margin: 0pt;
  margin-right: 3pt;
}

.points-earned {
  width: 4em;
}

.points-worth {
  width: 4em;
}

.points-adjust {
  width: 4em;
}

.free-value {
  border: 2pt solid #ddd;
}

.points-earned.fixed-value {
  border: 2pt solid #8ad;
}

.points-worth.fixed-value {
  border: 2pt solid #a8d;
}

.disabled {
  text-decoration: line-through;
  color: #666;
}

input.disabled {
  text-decoration: none;
  color: #aaa;
}

.dialog-buttons {
  text-align: center;
}
