#controls {
  position: absolute;
  box-sizing: border-box;
  top: 0pt;
  left: 0pt;
  height: 12vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  line-height: 3vh;
  width: 100%;
  text-align: center;
  background: #fff;
}

div {
  padding: 1pt;
}

#submission {
  position: absolute;
  box-sizing: border-box;
  top: 12vh;
  left: 0pt;
  width: 60vw;
  height: 88vh;
  padding: 1vw;
  border-top: 1pt solid black;
  border-right: 1pt solid black;
  overflow: scroll;
}

#evaluation {
  position: absolute;
  box-sizing: border-box;
  top: 12vh;
  right: 0pt;
  width: 40vw;
  height: 88vh;
  padding: 1vw;
  border-top: 1pt solid black;
  overflow: scroll;
  background: #cee;
}

.dialog {
  position: absolute;
  top: 15vh;
  left: 0pt;
  right: 0pt;
  margin: auto;
  width: 70vw;
  max-width: 40em;
  top: 15vh;
  /* TODO: Alternate sizing on small screens/windows? */
  padding: 1vmin;
  border: 2pt solid black;
  background-color: #ffffcc;
  box-sizing: border-box;
  overflow: scroll;
  z-index: 10;
  text-align: justify;
}

.dialog textarea {
  box-sizing: border-box;
  width: calc(100% - 8pt);
  position: relative;
  padding: 2pt;
  margin: 4pt;
}

.section {
  /* fixed-size so that we know where to cut off on collapse */
  margin: 0pt 0pt 0pt 0pt;
  line-height: 3.2ex;
  padding: 3pt 0pt 0pt 0pt;
  border: 1pt solid black;
  background-color: rgba(50, 100, 120, 0.2);
}

.children .section {
  margin-left: 0.7em;
  margin-right: 0pt;
  padding-right: 0pt;
  border-right: none;
  border-bottom: none;
}

.editor {
  border: 1pt solid black;
  margin: 2pt;
  padding: 4pt;
  background-color: #ffffcc;
}

.collapse-button {
  padding: 2pt;
  text-align: center;
  width: 16pt;
  display: inline-block;
  margin-right: 2pt;
  margin-left: 3pt;
  box-sizing: border-box;
}

.toggle-button {
  padding: 2pt;
  text-align: center;
  width: 16pt;
  display: inline-block;
  margin-right: 2pt;
  margin-left: 3pt;
  box-sizing: border-box;
}

.narrow-toggle {
  padding: 2pt;
  text-align: center;
}

.dialog-button {
  padding: 2pt;
  margin-left: 3pt;
  margin-bottom: 2pt;
  margin-top: 2pt;
  box-sizing: border-box;
}

.collapsed {
  /* Matches section line-height above */
  height: 3.2ex;
  overflow: hidden;
}

.sec-title {
  font-weight: bold;
  height: 3.2ex;
  display: inline-block;
  margin-bottom: 3pt;
}

.points {
  display: block;
  clear: right; /* TODO: Get rid of this and be careful with height!! */
  float: right;
  font-weight: bold;
  height: 3.2ex;
  margin: 0pt;
  margin-right: 3pt;
}

.points-earned {
  width: 4em;
}

.points-worth {
  width: 4em;
}

.points-adjust {
  width: 4em;
}

.free-value {
  border: 2pt solid #ddd;
}

.points-earned.fixed-value {
  border: 2pt solid #8ad;
}

.points-worth.fixed-value {
  border: 2pt solid #a8d;
}

.disabled {
  text-decoration: line-through;
  color: #666;
}

input.disabled {
  text-decoration: none;
  color: #999;
}

.dialog-buttons {
  text-align: center;
}
