{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/rigging.css">
<script src="/static/rigging.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
<div id="controls">
  <select id="asg_select">
    <option value="">???</option>
  </select>
  <select id="task_select">
    <option value="">???</option>
  </select>
  <select id="student_select">
    <option value="">???</option>
  </select>
  <br/>

  <input
   type="checkbox"
   id="lock_rubric"
   checked="true"
   class="narrow-toggle"
  > Lock rubric
  <input
   type="checkbox"
   id="common_default"
   checked="true"
   class="narrow-toggle"
  > Add notes to rubric
  <br/>

  <input type="button" value="Save Changes" id="save_changes" disabled="true">
  <input type="button" value="Dump JSON" id="dump_json" >
  <input type="button" value="Retore From JSON" id="restore_from_json" >
</div>
<div id="evaluation">
</div>
<div id="submission">
</div>
{% endblock %}
